  <header>
    {% include '_articles/_block/breadcrumbs.html.twig' with { 'article': article } %}

    <h1>
      {%- if article.active -%}
        {{- article.title -}}
      {%- else -%}
        <a href="{{ article.url }}">{{ article.title }}</a>
      {%- endif -%}
    </h1>
    <time class="nicetime"
      title="{{ article.date|date("Y-m-d") }}"
      datetime="{{ article.date }}">{{ article.date|date("M d Y") }}</time>
  </header>
