{% block article_main %}
  <main>

    {% set content = article.content | slice(article.summary | length) %}

    {% if article.header.continue_link is sameas(false) %}
      {{ content }}
      {% if not truncate %}
        {% set show_prev_next = true %}
      {% endif %}

    {% elseif truncate and article.summary != content %}
      {{ article.summary }}
      <p>
        <a class="btn" href="{{ article.url }}">Continue...</a>
      </p>

    {% elseif truncate %}
      {% if article.summary != content %}
        {{ content|truncate(550) }}
      {% else %}
        {{ content }}
      {% endif %}
      <p>
        <a class="btn" href="{{ article.url }}">Continue...</a>
      </p>
    {% else %}
      {{ content }}
    {% endif %}

  </main>
{% endblock %}
