{% block article_nav -%}
  {# reverse  -#}
  {% set prevPage = page.nextSibling -%}
  {% set nextPage = page.prevSibling -%}
  {% if nextPage.url or prevPage.url -%}
        <nav class="sibling">
          {{ dump( nextPage.url ) }}
          {{ dump( prevPage.url ) }}

          {% if prevPage.url -%}
           <a href="{{ prevPage.url }}" class="prev"
             data-tooltip="{{ prevPage.title }}"
             title="{{ prevPage.title }}" >Prev</a>
          {%- endif %}

          {% if nextPage.url -%}
            <a href="{{ nextPage.url }}" class="next"
              data-tooltip="{{ nextPage.title }}"
              title="{{ nextPage.title }}" >Next</a>
          {%- endif %}

        </nav>
  {%- endif %}
{%- endblock %}
