{#
Original Code from breadcrumbs.plugin
- still need it for breadcrumbs.get
#}
{% block breadcrumbs -%}
  {% if config.plugins.breadcrumbs.enabled -%}
    {% set crumbs = breadcrumbs.getFromPage(article) -%}
    {% set breadcrumbs_config = config.plugins.breadcrumbs -%}
    {%- if crumbs | length > 1 or breadcrumbs_config.show_all -%}
          <nav class="breadcrumbs">
            {% for crumb in crumbs -%}
              {% if not loop.last -%}
                {% if crumb.routable -%}
                  <a href="{{ crumb.url }}">{{ crumb.title }}</a>
                {%- else  -%}
                  {{ crumb.title }}
                {%- endif -%}
              {% else -%}
                {% if breadcrumbs_config.link_trailing and not crumb.active -%}
                  <a href="{{ crumb.url }}">{{ crumb.title }}</a>
                {%- else -%}
                  <span class="active">{{ crumb.title }}</span>
                {%- endif -%}
              {% endif -%}
            {% endfor %}

          </nav>

    {%- endif -%}
  {%- endif -%}
{%- endblock %}
