<section id="{{ page.slug }}" class="bar background-white no-mb module {{ page.slug }}">
    <div class="container">

        {{ content }}
        <div class="row">

            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ page.title }}</h2>
                </div>
                <p class="lead text-center">{{ header.lead }}
                </p>

                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image">
                                    <img src="user/images/36.e.png" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="#" class="btn btn-template-transparent-primary">
                                            <i class="fa fa-link"></i>
                                            Read more</a>
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <h4>
                                    <a href="#">Constructive<br>Geometry</a>
                                </h4>

                                <p class="intro">A discussion of tools, techniques and the playing field</p>
                                <p class="read-more">
                                    <a href="#" class="btn btn-template-main">Continue reading</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image-text -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image">
                                    <img src="user/images/export/base2/all.png" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="#" class="btn btn-template-transparent-primary">
                                            <i class="fa fa-link"></i>
                                            Read more</a>
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <h4>
                                    <a href="#">Base<br>Constructions</a>
                                </h4>

                                <p class="intro">The primary constructions from 3 proportions.</p>
                                <p class="read-more">
                                    <a href="#" class="btn btn-template-main">Continue reading</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image-text -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image">
                                    <img src="user/images/export/base2/r5.sector.png" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="#" class="btn btn-template-transparent-primary">
                                            <i class="fa fa-link"></i>
                                            Read more</a>
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <h4>
                                    <a href="#">Root 5<br>Constructions</a>
                                </h4>

                                <p class="intro">A collection of Golden Ratio instances emerging from the Root 5 Proportion</p>
                                <p class="read-more">
                                    <a href="#" class="btn btn-template-main">Continue reading</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.box-image-text -->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image">
                                    <img src="user/images/export/base2/r3.circle.png" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="#" class="btn btn-template-transparent-primary">
                                            <i class="fa fa-link"></i>
                                            Read more</a>
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <h4>
                                    <a href="#">Root 3<br>Constructions</a>
                                </h4>

                                <p class="intro">A collection of Golden Ratio instances emerging from the Root 3 Proportion</p>
                                <p class="read-more">
                                    <a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>
