<section class="bar background-white  no-mb  text-center"  >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ page.title }}</h2>
                </div>
                <p class="lead text-center">{{ header.lead }}
                </p>

                {{ content }}

                <div class="text-center">
                    <a href="{{ header.link }}" class="btn btn-template-main">{{ header.link_text }}</a>

                </div>
            </div>
        </div>
    </div>
</section>
