{% use "_articles/_block/article_figure.html.twig" -%}
{% use "_articles/_block/article_header.html.twig" -%}
{% use "_articles/_block/article_main.html.twig" -%}
{% use "_articles/_block/article_footer.html.twig" -%}
{% use "_articles/_block/article_nav.html.twig" -%}
{% use "_articles/_block/article_gallery.html.twig" -%}

{% block article -%}
      <!-- article event -->
      <article class="{{ page.template }}" data-url="{{ page.url }}">
        <h1>XXXXXXX</h1>
        {{ block('article_figure') }}
        {{ block('article_header') }}
        {{ block('article_main') }}
        {{ block('article_footer') }}
        {#{ block('article_nav') }#}
        {{ block('article_gallery') }}
      </article>
{%- endblock %}
