  <aside class="org">
    <p><%- config.organization.name %></p>
    <p><%- config.organization.address.streetAddress %></p>
    <p><%- config.organization.address.addressLocality %>, <%- config.organization.address.addressRegion %> <%- config.organization.address.postalCode %></p>
    <p><%- config.organization.telephone %></p>
  </aside>
