{% set share_url = page.permalink -%}
{% set share_description = page.summary -%}
{% set share_image = config.url + url_for(config.logo) -%}

          <aside class="article-share">
            <h1>Share:</h1>
            <ul>
              <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" >f</a></li>
              <li><a target="_blank" href="https://twitter.com/home?status={{ share_url }}" >t</a></li>
              <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ encodeURI(article.title) }}" >i</a></li>
              <li><a target="_blank" href="https://pinterest.com/pin/create/button/?url={{ share_url }}&media={{ share_image }}&description={{ share_description }}" >p</a></li>
              <li><a target="_blank" href="{{ page.url ~ '.rss' }}" >r</a></li>
            </ul>
          </aside>
